.lobbyGameInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;   
}

.lobbyGameInfoData {
  margin: 5px;
  color: rgb(5, 45, 56);
  font-size: 25px;
}
