.createGameContainer {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/switcher_UI_UX_desing_background_pattern.svg");
  background-size: 100px 150px; /* Establece el tamaño de la imagen de fondo */
  background-repeat: repeat; /* Repite la imagen si es necesario */
  background-color: #5dc8af;
  animation: moverFondoCreateGame 5s linear infinite; /* Aplica la animación */
}

@keyframes moverFondoCreateGame {
  0% {
    background-position: 0 0; /* Posición inicial */
  }
  100% {
    background-position: 100px -150px; /* Cambia el valor según el tamaño de tu imagen */
  }
}

.createGameMenuConteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.createGameTitle {
  position: relative;
  top: 7%;
  z-index: 4;
  width: 65%;
  pointer-events: none;
}

.inputErrorNotification, .creatingGameErrorNotification {
  position: absolute;
  width: 20%;
  height: 35%;
  top: 40%;
  left: 22%;
  z-index: 2;
}

.createGameMenu {
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  width: 40%;
  background-color: #29957d;
  border: 10px solid #25a589; /* Disminuye el grosor del borde */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.createGameInputContainer {
  grid-column: 2 / 4; 
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameCreateGame,
.gameNameCreateGame,
.passwordCreateGame {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameCreateGame {
  grid-column: 2 / 4;
  grid-row: 1;
}

.gameNameCreateGame {
  grid-column: 2 / 4;
  grid-row: 2;
}

.passwordCreateGame {
  grid-column: 2 / 4;
  grid-row: 3;
}

.borderTopLeft,
.borderTopRight,
.borderBottomLeft,
.borderBottomRight {
  width: 120px;
  height: auto;
  padding: 10px;
}

.borderTopLeft {
  grid-column: 1;
  grid-row: 1;
  rotate: 180deg;
  justify-self: start;
  align-self: start;
}
.borderTopRight {
  grid-column: 4;
  grid-row: 1;
  rotate: 270deg;
  justify-self: end;
  align-self: start;
}

.borderBottomLeft {
  grid-column: 1;
  grid-row: 3;
  rotate: 90deg;
  justify-self: start;
  align-self: end;
}

.borderBottomRight {
  grid-column: 4;
  grid-row: 3;
  rotate: 0deg;
  justify-self: end;
  align-self: end;
}

.usernameCreateGame input,
.gameNameCreateGame input,
.passwordCreateGame input {
  background-color: #217c6f; /* Azul para el fondo */
  border: none; /* Elimina el borde */
  color: white; /* Texto blanco para contrastar con el fondo azul */
  padding: 10px; /* Espaciado interno para hacer que el input sea más grande */
  border-radius: 5px; /* Bordes redondeados (opcional) */
  width: 100%; /* Asegura que el input ocupe todo el espacio disponible */
  font-size: 16px; /* Tamaño de fuente (opcional, puedes ajustarlo a tus necesidades) */
}

.usernameCreateGame input:focus,
.gameNameCreateGame input:focus,
.passwordCreateGame input:focus {
  outline: none; /* Elimina el borde azul que aparece al hacer foco */
}

.passwordCreateGame button {
  background-color: #06313a; /* Azul para el fondo */
  color: white;
}

.createGameButton {
  padding: 15px 30px;
  margin: 30px;
  font-weight: bold;
}

.validationMessageCreateGame {
  color: red;
  font-size: 16px;
}

@keyframes flashRed {
  0% {
    background-color: red;
  }
  100% {
    background-color: #06313a;
  }
}

.flash-red {
  animation: flashRed 1s ease-in-out;
}