.chat-container {
  background-color: #3a3a3a;
  padding: 10px;
  border-radius: 5px;
  
}

.chat {
  position: relative;
  height: 500px;
  width: 500px;
  overflow-y: auto;
  border: 1px solid #ebebeb;
  background-color: #000000;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

.chatMessages {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.userMsg {
  word-break: break-word;
  margin: 5px 0;
  padding: 5px;
  background-color: #429146;
  border-radius: 5px;
  max-width: 80%; /* Asegura que los mensajes no se desborden horizontalmente */
  white-space: normal; /* Asegura que el texto se ajuste y no se quede en una sola línea */
  hyphens: auto; /* Habilita los guiones automáticos en palabras largas */
  overflow: hidden; /* Evita el desbordamiento horizontal */
  align-self: flex-end; /* Alinea el mensaje a la derecha */
}

.opponentMsg {
  word-break: break-word;
  margin: 5px 0;
  padding: 5px;
  background-color: #8c00ff;
  border-radius: 5px;
  max-width: 80%; /* Asegura que los mensajes no se desborden horizontalmente */
  white-space: normal; /* Asegura que el texto se ajuste y no se quede en una sola línea */
  hyphens: auto; /* Habilita los guiones automáticos en palabras largas */
  overflow: hidden; /* Evita el desbordamiento horizontal */
  align-self: flex-start; /* Alinea los mensajes del usuario a la izquierda */
}

.newMsgFlag {
  bottom: 10px;
  left: 10px;
  font-size: 15px;
  color: #ffffff;
  text-align: center; /* Aunque con flexbox esto ya está centrado */
}

.inputMessage {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sendMsgButton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sendMsgButton:hover {
  background-color: #0056b3;
}

.noMsg {
  font-size: 16px;
  font-weight: bold;
  color: #888; /* O el color que prefieras */
  text-align: center; /* Aunque con flexbox esto ya está centrado */
}
