.lobbyPlayerListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.lobbyPlayerListTitle {
  color: rgb(5, 45, 56);
  font-weight: bold;
  font-size: 30px;
}

.lobbyPlayerListItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #217c6f;
  margin-top: 10px;
  border-radius: 30px;
}
