.cardViewContainer {
  width: 300px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center; /* Centra los elementos en cada celda */
  gap: 10px; /* Espacio entre los elementos */
}

.grid-item {
  display: flex; /* Para centrar el contenido dentro de cada celda */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.card {
  width: 70px; /* Ajusta el tamaño del cuadrado */
  height: 70px; /* Ajusta el tamaño del cuadrado */
  cursor: grab; /* Cambia el cursor al pasar por encima */
}

.errorBlockFig {
  animation: vibrarError 0.5s ease-in-out infinite;
}



@keyframes vibrarError {
  0% {
    transform: translateX(0);
    background-color: red;
  }
  12% {
    transform: translateX(-3px);
  }
  24% {
    transform: translateX(0);
  }
  36% {
    transform: translateX(3px);
  }
  48% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-3px);
  }
  72% {
    transform: translateX(0);
  }
  84% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
    background-color: initial; 
  }
}